.wrapper {
  display: flex;
  background-color: transparent;
}

@mixin dateText {
  & {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 160px;
    text-align: center;
    letter-spacing: -0.02em;
    background-color: transparent;
  }

  @media (max-width: 768px) {
    font-size: 56px;
    line-height: 73px;
  }
}

.start {
  color: #5D5FEF;
  margin-right: 0.4em;
  @include dateText;
}

.end {
  color: #EF5DA8;
  @include dateText;
}