@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  background-color: transparent;
}

@mixin dateText {
  & {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: $date-font-desktop;
    line-height: $date-lineheight-desktop;
    text-align: center;
    letter-spacing: -0.02em;
    background-color: transparent;
    user-select: none;
  }

  @media (max-width: $bp-mobile) {
    font-size: $date-font-mobile;
    line-height: $date-lineheight-mobile;
  }
}

.start {
  color: $color-accent-start;
  margin-right: 0.4em;
  @include dateText;
}

.end {
  color: $color-accent-end;
  @include dateText;
}
