@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  gap: 78px;
  align-items: center;
}

.line {
  height: 120px;
  width: 5px;
  background: $gradient-primary;
}

.text {
  width: 350px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $title-font-fluid;
  line-height: 120%;
  color: $color-primary;
}

@media (max-width: $bp-mobile) {
  .text {
    max-width: 166px;
  }
}
